<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<div id="chat">
  <div class="message-board"></div>

  <input class="message" type="text">
  <input class="send" type="button" value="Send">
</div>
